.vimeo-upload .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.vimeo-upload .container .text-muted {
  margin: 20px 0;
}

.vimeo-upload .form-control {
  margin-bottom: 15px;
  padding: 3px;
}

.vimeo-upload textarea {
  width: 300px;
  height: 150px;
}

.vimeo-upload #progress-container {
  -webkit-box-shadow: none;
  box-shadow: inset;
  display: none;
}

.vimeo-upload #drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-top: 60px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
  height: 140px;
}

.vimeo-upload #video-data {
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 500;
}
